<div class="row ">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card mx-auto">
            <div class="card-body">
                <h1 class="text-center">Register</h1>
                <!--<form (submit)="onSubmitAddUser()" >-->
                    <form  >
                    
                    <div class="form-group">
                       
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" [(ngModel)]= "nameText"  class="form-control" placeholder="Name(s)">
                        
                    </div>

                    <div class="form-group">
                        <label for="surnames">Surnames</label>
                        <div class="d-flex justify-content-around">
                        
                        <input type="text" name="surname" id="surname" [(ngModel)]= "surnameText" class="form-control surnames" placeholder="Surname">
                        <input type="text" name="secondsurname" id="secondsurname" [(ngModel)]= "secondsurnameText" class="form-control surnames" placeholder="Second surname">
                        
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="username">User name</label>
                        <input type="text" name="username" id="username" [(ngModel)]="usernameText" class="form-control" placeholder="Enter a user name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" [(ngModel)]="emailText" class="form-control" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password"  [(ngModel)]="passwordText" class="form-control" placeholder="********">
                    </div>

                    <div class="form-group">
                        <label for="cellphonenumber">Cellphone number</label>
                        <input type="text" name="cellphonenumber" id="cellphonenumber" [(ngModel)]="cellphonenumberText" class="form-control" placeholder="Enter your cellphone number(with lada)">
                    </div>

                    
                    <input type="submit" class ="btnregister btn-primary btn-block btn-lg" value="{{ btntxtregister }}" (click)="AgregarUsuario()">
                    <!-- <button type="button" value="SEND" class="btn btn-primary btn-lg">SEND</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
