<div class="row ">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card mx-auto">
            <div class="card-body">

                <form>


                    <div class="row">
                        <div class="col-md-10 mx-auto mt-2">
                            <h1 class="primary"> Twwets</h1>
                            <input type="tweet" name="tweet" id="tweet" class="form-control"
                                placeholder="What are you thinking?">

                            <div class="card">
                                <div class="card-body d-flex justify-content-around">

                                    <input type="urlimage" name="urlimage" id="urlimage" class="form-control divisor"
                                        placeholder="Insert your url here">

                                    <button type="button" value="SEND TWEET" class="btn btn-primary btn-sm divisor-send">SEND TWEET</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>